@import './base.css';
@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

#app {
  max-width: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
