server:
  port: 8082
spring:
  application:
    name: quote-service
  # jpa:
  #   hibernate:
  #     ddl-auto: validate # Hibernate vérifie juste que l'Entity correspond à la table Liquibase
  #   properties:
  #     hibernate:
  #       dialect: org.hibernate.dialect.OracleDialect
  datasource:
    url: jdbc:h2:mem:quotedb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password: 
  h2:
    console:
      enabled: true # Pour voir tes données dans ton navigateur
      path: /h2-console
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: validate
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs